- if logged_in?
  = render 'shared/nav_logged_index'
  .container#main-page
    .row
      = render 'shared/flash_message'
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        .users-todo
          #todo-tasks
            %h4
              Todo (
              %span#todo_count= @todo_count
              ) 
            %ul.tasks
              = render @todo_tasks
          #no-tasks.text-center
            %h3.no-todo-tasks You have nothing to do :)
        .users-done
          #done-tasks
            %h4
              Done (
              %span#done_count= @done_count
              ) 
            %ul.tasks
              = render @done_tasks
- else
  = render 'shared/nav_non_logged_in'
  .container#welcome
    .row
      = render 'shared/flash_message'
      .text-center
        = link_to 'Send activation email again', new_activation_path,
                  class: 'btn orange-gradient-btn', id: "activation-btn"
        %h2 Organize your time with ToDo list and free your mind!
      .login-form
        = render 'sessions/new'
  .container#about
    .row.text-center
      %h2 About
    %br  
    = render 'layouts/footer'

  / Modal
  = render 'shared/signup_modal'


