- if logged_in?
  = render 'shared/nav_logged'
  .container.main-page
    .row
      = render 'shared/flash_message'
      .user-feed.text-center
        = render 'tasks/task_form'
        .users-todo
          #todo-tasks
            %h4
              Todo (
              %span#todo_count= @todo_count
              ) 
            %ul.tasks
              = render @todo_tasks
          #no-tasks.text-center
            %h3.no-todo-tasks You have nothing to do :)
        .users-done
          #done-tasks
            %h4
              Done (
              %span#done_count= @done_count
              ) 
            %ul.tasks
              = render @done_tasks
- else
  = render 'shared/nav_non_logged_in'
  .container.full-width
    .row
      = render 'shared/flash_message'
      .text-center
        = link_to 'Send activation email again', activations_path, method: :post,
                  class: 'btn orange-gradient-btn', id: "activation-btn"
        %h2.fancy-font Organize your time with ToDo list and free your mind!
      .form-white-box
        = render 'sessions/new'
  .container
    .row.text-center
      %h2.fancy-font About
    %br  
    = render 'layouts/footer'

  / Modal
  = render 'shared/signup_modal'


      