.login-with-apps
  %h4 Login with:
  .twitter.oauth-icons
    .fa.fa-twitter
    .overlay
      .text= link_to "TWITTER", '/'
  .google.oauth-icons
    .fa.fa-google-plus
    .overlay
      .text= link_to "GOOGLE", '/'
  .github.oauth-icons
    .fa.fa-github
    .overlay
      .text= link_to "GITHUB", '/auth/github'
  .inside-lines
    %h4 or
.login-with-email
  = simple_form_for(:session, url: login_path, defaults: {label: false}) do |f|
    = f.input :email, placeholder: "Email"
    = f.input :password, placeholder: "Password"
    = f.input :remember_me, inline_label: "Remember me", as: :boolean
    .text-center
      = f.button :submit, "Login", class: "btn orange-gradient-btn", id: "login-btn"
    .text-center
      %small= link_to "Forgot password?", new_password_reset_path
