.center.jumbotron
  = link_to "Home", root_path
  %h1 Set new password
  .row
    .col-lg-6.col-lg-offset-3
      = form_for(@user, url: password_reset_path(params[:id])) do |f|
        = render 'shared/errors'
        .form-group
          = f.label :password
          = f.password_field :password, class: "form-control"
        
        .form-group
          = f.label :password_confirmation, "Confirmation"
          = f.password_field :password_confirmation, class: "form-control"
      
        = hidden_field_tag :email, @user.email

        = f.submit "Update password", class: "btn btn-primary"
