= render 'shared/nav_non_logged_in'
.container.full-width
  .row
    .form-white-box.increase-margin
      .form-inside
        .inside-lines
          %h4 Set new password
        = simple_form_for(@user, url: password_reset_path(params[:id])) do |f|
          = f.input :password, placeholder: "Password", label: false
          = f.input :password_confirmation, placeholder: "Password confirmation",
                                            label: false
          = hidden_field_tag :email, @user.email
          .text-center
            = f.button :submit, "Change password", class: "btn orange-gradient-btn"
