= render 'shared/nav_non_logged_in'

.container.full-width
  .row
    = render 'shared/flash_message'
    .form-white-box.increase-margin
      .form-inside
        .inside-lines
          %h4 Write your email
        = simple_form_for(:password_reset, url: password_resets_path) do |f|
          = f.input :email, placeholder: 'user@domain.com', label: false
          .text-center
            = f.button :submit, "OK!", class: "btn orange-gradient-btn"

/ Modal
= render 'shared/signup_modal'