= render 'shared/nav_non_logged_in'

.container#welcome
  .row
    = render 'shared/flash_message'
    .col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-6.col-lg-3.col-lg-offset-7.forms
      = form_for :password_reset, url: password_resets_path do |f|
        .form-group
          = f.email_field :email, placeholder: "Write your email", class: "form-control"

        .text-center
          = f.submit "Send email", class: "btn orange-gradient-btn"
