- unless task.content.nil?
  - unless task.done?
    %li{id: "task-#{task.id}"}
      .done
        %a{href: change_task_path(task), data: { remote: "true" } }
          %span.glyphicon.glyphicon-ok
      .content
        = task.content
      .settings
        .options
          %span.glyphicon.glyphicon-envelope
          %a{href: edit_task_path(task), data: { remote: "true" } }
            %span.glyphicon.glyphicon-pencil
          %a{href: task_path(task), data: { confirm: "You sure?", method: :delete, remote: "true" } }
            %span.glyphicon.glyphicon-remove
        .timestamp
          %span= task.created_at.strftime("%d %b %Y")
  - else
    %li{id: "task-#{task.id}"}
      .content
        = task.content
      .settings
        .options
          %a{href: change_task_path(task), data: { remote: "true" } }
            %span.glyphicon.glyphicon-repeat
          %a{href: task_path(task), data: { confirm: "You sure?", method: :delete, remote: "true" } }
            %span.glyphicon.glyphicon-remove

