#errors
= form_for(@user, remote: true, html: {novalidate: 'novalidate'}) do |f|
  .form-group
    = f.email_field :email, placeholder: "Email", class: "form-control"
    = @user.errors.messages[:email].first if @user.errors.messages[:email].present?
  .form-group
    = f.password_field :password, placeholder: "Password", class: "form-control"
  .form-group
    = f.password_field :password_confirmation, 
                        placeholder: "Password confirmation", class: "form-control"
  .text-center
    = f.submit "Create my account", class: "btn orange-gradient-btn"
