= render 'shared/nav_logged'
.container.main-page
  .row
    = render 'shared/flash_message'
    - unless @user.provider?
      .profile-edit
        = simple_form_for(@user) do |f|
          = f.input :email, required: false
          = f.input :password, required: false
          = f.input :password_confirmation
          .text-center
            = f.button :submit, "Save changes", class: "btn orange-gradient-btn"
    - else
      .user-info
        = image_tag(@user_image, class: 'img-circle') if @user_image
        %h3 
          Logged in with: 
          = @user.provider.split('_').first.upcase
        %h4 
          Name:
          = @user_name
        %h4 
          Email:
          = @user.email
    .col-xs-8.col-xs-offset-2
      .text-center
        = link_to "Delete profile", @user, method: :delete, 
        data: { confirm: "You sure?"}, class: "btn red-border-btn"
          

