!!!
%html
  %head
    %title ToDo
    = render 'layouts/default'
    = render 'layouts/shim' 
  %body
    .container
      = render 'layouts/flash_message'
      = yield
      = render 'layouts/footer'